body {
    font-family: 'Courier New', Courier, monospace;
    /*background: url("../images/img01.jpg") no-repeat center;*/
}
.test {
    display: flex;
    height: 100px;
    font-size: 30px;
    flex-direction: column;
    /*background: url("../img/img03.jpg") no-repeat center;*/
}
